/*--------------------*/
.about-app-block {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  row-gap: 50px;
}

.about-app-first-text {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-app-first-text a{
  margin: 0 auto;
}
.about-app-first-text p:nth-child(1) {
  font-size: 1.65rem;
  font-weight: 900;
  margin-bottom: 0;
}

.about-app-first-text p:nth-child(2) {
  font-size: 0.85rem;
  font-weight: 400;
}

.about-app-second-text {
  width: 70%;
  height: auto;
}

.about-app-second-text p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 20px;
}

.about-app-second-text p:nth-child(n+2) {
  color: #AAAAAA;
}

.about-app-btn {
  font-size: 1.44rem;
  font-weight: 900;
  border: 1px solid #BE123C;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #BE123C;
  color: white;
  padding: 10px 22px;
}

.about-app-img {
  display: flex;
  align-items:center; 
  justify-content: center;
}

.about-app-img img {
  margin-top: 50px;
  width: 300px;
}

.aboutApp__button {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  background: transparent;
  color: #BE123C;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  border-radius: 10px;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  border: 2px solid #BE123C;
  color: #BE123C;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  padding: 10px 20px;

  transition: 0.3s;
}

.aboutApp__button:hover {
  color: white;
  background-color: #BE123C;
}
.aboutApp__button a{
  color: #BE123C;
}
.aboutApp__button:hover a{
  color: #fff;
}
.aboutApp__button__g {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  background: transparent;
  -webkit-column-gap: 30px;
  column-gap: 44px;
  border-radius: 10px;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  border: 2px solid #AAAAAA;
  color: #AAAAAA;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  padding: 10px 20px;

  transition: 0.3s;
}

.aboutApp__button__g:hover {
  color: white;
  background-color: #AAAAAA;
}
.aboutApp__button__g a{
  color: #AAAAAA;
}
.aboutApp__button__g:hover a{
  color: #fff;
}
.aboutApp__imgg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s;
}

.aboutApp__button img:last-child {
  display: none;
}

.aboutApp__button:hover img:last-child {
  display: block;
}

.aboutApp__button:hover img:first-child {
  display: none;
}

.aboutApp__button__g img:last-child {
  display: none;
}

.aboutApp__button__g:hover img:last-child {
  display: block;
}

.aboutApp__button__g:hover img:first-child {
  display: none;
}

.aboutApp__button img {
  width: 40px;
  height: 40px;
}

.aboutApp__button__g img {
  width: 40px;
  height: 40px;
}
.class{
  color:white;
  text-shadow: 1px 0 1px #BE123C, 
  0 1px 1px #BE123C, 
  -1px 0 1px #BE123C, 
  0 -1px 1px #BE123C;
  margin-left: 75px;
}

@media (min-width: 1400px) {
  .about-app-first-text{
    margin-left: 100px;
  }
  .about-app-second-text {
    margin-left: 50px;
    width: 80%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .class{
    margin-left: 55px;
  }
  .about-app-first-text,
  .about-app-second-text {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .class{
    margin-left: 30px;
  }
  .about-app-block {
    grid-template-columns: 1fr;
  }

  .about-app-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-app-download {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .about-app-download .btn2 {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 768px) {
  .class{
    margin-left: 30px;
  }
  .about-app-block {
    row-gap: 0;
  }

  .about-app-download {
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  }

  .about-app-download .btn2 {
    margin: -30px 0 30px 0;
  }
}

@media (max-width: 576px) {
  .class{
    margin-left: 5%;
  }
  .about-app-download {
    align-items: start;
  }
  .aboutApp__button {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
  }
}
@media (max-width: 320px) {
  
  .aboutApp__button {
    display: grid;
    grid-template-columns: 1fr 0.262fr;
  }
}
body{
  font-size:xx-small;
}

/*# sourceMappingURL=AboutApp.css.map */